
@media(max-width:461px){
    h2{
        font-size: 18px;
    }
    .norman{
        font-size: 15px;
    }
}
@media(max-width:360px){
    li{
        font-size: 18px;
    }
}
@media(max-width:290px){
    li{
        font-size: 18px;
    }
    .norman{
        font-size: 15px;
    }
}

